@media only screen and (max-width: 1000px) {
    .navbar-menu {
        display: block;
        opacity: 0;
        position: absolute; 
        left: 0;
        right: 0;
        height: 190px;

        pointer-events: none;
    }

    .navbar-menu.is-active {
        position: absolute;
        top: 50px;
        opacity: 1;
        transform: none;
        pointer-events: auto;
    }
}