@media only screen and (max-width: 1000px) {
    .navbar-menu {
        display: block;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        height: 190px;
        pointer-events: none;
    }
    .navbar-menu.is-active {
        position: absolute;
        top: 50px;
        width: 100%;
        opacity: 1;
        transform: none;
        pointer-events: auto;
    }
}

/* .product-detail .content-detail {
    text-align: left !important;
}
.product-detail .discount {
    font-size: 1.2em;
    text-align: left;
    text-decoration: line-through;
}
.product-detail .price {
    font-size: 1.7em;
    text-align: left;
} */

.card {
    transition: all 0.5s ease;
}

.card:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s ease;
}

.has-text-muted {
    color: #95a5a6;
}
